@media only screen and (max-width:779px){
  #wrapper{
    display:none;
  }
}

@media only screen and (min-width:780px){

#wrapper{
  background-image: linear-gradient(to top right, white, black);
  background-size:cover;
  position:relative;
}
#link{
  text-decoration: none;
  color:ivory;
  position:sticky;
  left:70px;
  opacity:0.4;
  /* z-index:10000; */
  font-size:3em;
}
  /* remove the margin to 0 and the body's as well */

/*
background: url(greatimage.jpg), url(wonderfulimage.jpg);
  background-size: 300px 100px, cover;
  first image is 300x100, second image covers the whole area */

#video1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:auto;
  mix-blend-mode:color-burn;
}
#video2{
  position:absolute;
  top:0;
  left:-100px;
  width:100%;
  height:auto;
  mix-blend-mode:hard-light;
}
#video3{
  position:absolute;
  top:0;
  left:0;
  width:70%;
  height:auto;
  mix-blend-mode:multiply;
}
#video4{
  position:absolute;
  top:300px;
  right:0px;
  width:100%;
  height:auto;
  mix-blend-mode:exclusion;
  opacity:0.9;

}
#photo1{
  position:absolute;
  top:;
  left:;
  /* top:900px; */
  /* left:400px; */
  width:200px;
  height:200px;
  mix-blend-mode:hue;

}
#photo2{
  position:absolute;
  top:;
  left:;
  /* top:900px; */
  /* left:700px; */
  width:200px;
  height:200px;
  mix-blend-mode:hue;
  z-index:500;

}
#photo3{
  position:absolute;
  top:;
  left:;
  /* top:900px; */
  /* left:100px; */
  width:300px;
  height:300px;
  mix-blend-mode:hue;

}

}
/* media query */

/* #video2 {
  margin-left:-8px;
  margin-top:-8px;
  mix-blend-mode:multiply;
  position:absolute;
  width: 100%;
  height:100%;
z-index:2000;
position:fixed;
overflow-y:hidden;
}
#video1{
  position:fixed;
  mix-blend-mode:multiply;
  margin-left:-8px;
  width: 100%;
  height: 100%;
  margin-top: -8px;
  position:absolute;
z-index:1000;
overflow-y:hidden;
}
#video3{
  position:fixed;
  mix-blend-mode:hue;
  margin-left:-8px;
  width: 100%;
  height:100%;
  position:absolute;
z-index:10000;
overflow-y:hidden;
}
img{width:100%;
  position:fixed;
z-index:10000;

} */
